@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
    {
    <li class="nav-item flex-grow-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Se chat</a>
    </li>
    }
